.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.containerImg {
  width: 100%;
}

.link {
  color: blue;
}

.btn {
  width: 50%;
  padding: 0.5rem 0;
  border: 0;
  border-radius: 8px;
  margin: 10px;
  background-color: #4564A6;
  color: #fff;
}

.btn_fb {
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  border-radius: 8px;
  margin: 5px;
  background-color: #4564A6;
  color: #fff;
}

.btn_google {
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  border-radius: 8px;
  margin: 15px;
  background-color: #DC4E41;
  color: #fff;
  cursor: pointer;
}

.detrator {
  font-weight: bold;
  margin: 10px 0;
}

.title {
  margin: 0;
  padding: 0;
}